[submodule "ScoutRestWS"]
	path = ScoutRestWS
	url = git@github.com:rodrigojmlourenco/ScoutRestWS.git
[submodule "ScoutSimulator"]
	path = ScoutSimulator
	url = git@github.com:rodrigojmlourenco/ScoutSimulator.git
[submodule "SensingAnalytics"]
	path = SensingAnalytics
	url = git@github.com:rodrigojmlourenco/SensingAnalytics.git
